* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*border: 1px solid #333;*/
}
body{
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
p{
	line-height: 1.5em;
}

/*Começa o dropdow*/
/*#dropbtn {
	color: #FFF;
	font-size: 1.7rem;
	border: none;
	cursor: pointer;
	z-index: 1;
	display: inline-block;
	margin: 20px 25px;
}
#home{
	color: #FFF;
	font-size: 1.7rem;
	border: none;
	cursor: pointer;
	z-index: 1;
	display: inline-block;
	float: right;
	margin: 20px 25px;
}

.dropdown {
	position: fixed;
	display: inline-block;
	width: 100%;
}

.dropdown-content {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #333;
	color: #FFF;
	width: 160px;
	height: 100vh;
}
.dropdown-content a {
	display: block;
	text-transform: uppercase;
	font-size: .8rem;
	color: #FFF;
	letter-spacing: .2em;
	margin: 15% 10%;
	text-decoration: none;
}
.dropdown-content a:first-child {
	font-size: 1.2rem;
	margin-bottom: 30%;
}
.navbar_move{
	background-color: rgba(0, 0, 0, 0.6);
	transition: 0.5s;
  width: 100%;
}*/
/*fim do dropdow*/

.jumbotron{
  background: url('imagens/main.jpg') no-repeat center center;
  background-size: cover;
  height: 75vh;
}
.fixed_btn{
  position: fixed;
  right: 20px;
  width: 30%;
  padding: 10px 25px 10px 20px;
  background-color: #FFF;
  color: #5887C2;
  border-radius: 5px;
  margin-top: 5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.fixed_btn p{
  font-weight: 500;
  text-transform: uppercase;
  font-size: .85em;
  word-spacing: .2em;
  text-align: center;
}
.first_title{
  position: absolute;
	width: 80%;
  margin-top: 180px;
	margin-left: 6%;
  color: #FFF;
}
.first_title p{
  font-size: 1.3em;
  letter-spacing: 1px;
}
.first_title h4{
  font-size: 2.7em;
}

/*menu bar*/
.menu_bar_wrapper{
  margin-bottom: 15%;
}
.menu_bar{
  display: grid;
	width: 100%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  margin: 0 auto;
  padding-top: 3%;
}
.menu_bar a{
  text-decoration: none;
}
#about, #benefits, #questions{
  font-weight: 400;
  color: #95979B;
  font-size: .9em;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #95979B;
	width: auto;
  text-align: center;
}
#about{
  color: #578CC4;
  border-bottom: 2px solid #578CC4;
}
/*Fim do menu_bar*/

/*upper_content*/
.upper_content_wrapper{
  margin-bottom: 10%;
}
.upper_content_title, .upper_content_text{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.upper_content_title{
  font-size: 2em;
  margin-bottom: 8%;
}
.upper_content_text p{
  margin-bottom: 4%;
}
/*Fim do upper_content*/

/*upper_support*/
.upper_support_wrapper{
  display: flex;
	flex-flow: row wrap;
}
.upper_support_img{
  background: url('imagens/parceiro.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 70vh;
  margin-bottom: 10%;
}
.upper_support_title{
	height: auto;
	width: 80%;
	font-size: 2em;
	margin: 0 7% 8% 7%;
}
.upper_support_text{
	height: auto;
	width: 90%;
  margin: 0 7%
}
.upper_support_text p{
	margin-bottom: 10%;
}
/*Fim do upper_support*/

/*mockup*/
.mockup_wrapper{
	background-color: #48a8c1;
	padding: 6% 0;
	display: flex;
	flex-flow: row wrap;
}
.mockup_img img{
	width: 100%;
	height: 300px;
}
.mockup_content{
	margin: 5% 3% 0 7%;
	color: #FFF
}
.mockup_content_title{
	margin-bottom: 10%;
	font-size: 1.6em;
}
.mockup_content_text{
	width: 100%;
}
.mockup_step{
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 5%;
}
.mockup_step > h4{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 600;
  margin-right: 3%;
}
.mockup_step p{
	font-size: 1em;
	font-weight: 400;
  padding-top: 3px;
	margin-top: 0;
}
/*Mockup acaba aqui*/

/*middle_wrapper*/
.middle_wrapper{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: 10%;
}
.middle_content{
  width: 90%;
	margin: 15% 0 5% 7%;
}
.middle_content p{
	font-size: 1.2em;
	font-weight: 500;
  margin-bottom: 1%;
}
.middle_content h4{
	font-size: 2em;
	font-weight: 700;
	width: auto;
}
.middle_img{
	background: url('imagens/parceiro_bottom_2.jpg') no-repeat center center;
	background-size: cover;
	width: 100vh;
	height: 75vh;
}
/*End of middle wrapper*/

/*Começo do bottom_wrapper*/
.bottom_wrapper{
	margin-bottom: 15%;
}
.bottom_content{
	width: 85%;
  margin: 0 auto;
}
.bottom_content h3{
	font-size: 2em;
	margin-bottom: 8%;
}
.bottom_content p{
	margin-bottom: 4%;
}
/*Final do bottom_wrapper*/

/*Começa o Grid*/
.grid_wrapper{
	display: flex;
  flex-flow: row wrap;
}
.grid_left_box{
  margin-bottom: 5%;
}
.grid_left_box_content{
	width: 75%;
	margin: 0 auto;
  text-align: center;
}
.grid_left_box_content h3{
	font-size: 1.7em;
	margin-bottom: 5%;
}
.grid_left_box_content p{
	width: auto;
}

.grid_center_img{
  width: 50%;
  height: 45vh;
	background: url('imagens/johnson_test.jpg') no-repeat center center;
	background-size: cover;
}
.grid_right_img{
  width: 50%;
  height: 45vh;
	background: url('imagens/johnson_test_2.jpg') no-repeat center center;
	background-size: cover;
}
.grid_center_bottom, .grid_right_bottom{
  width: 50%;
	background-color: #DFE9F9;
  padding: 5%;
}
.grid_center_bottom{
  border-right: 1px solid #E6E8EA;
}

.grid_center_bottom h3, .grid_right_bottom h3{
	font-size: .85em;
	margin: 7% 0 2% 3%;
}
.grid_center_bottom p, .grid_right_bottom p{
	font-size: .85em;
	margin-left: 3%;
}
/*Grid acaba aqui*/

/*bottom_end começa*/
.bottom_end_wrapper{
	background-color: #EBEDEF;
	padding: 15% 7%;
}
.bottom_end_box{
	background-color: #FFF;
	display: flex;
	flex-flow: row wrap;
}
.bottom_end_img{
	background: url('imagens/empresa4.jpg') no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 60vh;
}
.bottom_end_content{
	width: 100%;
	margin: 7% 5%;
  text-align: center;
}
.bottom_end_content h3{
	font-size: 1.5em;
	margin-bottom: 5%;
}
/*acabou o bottom_end*/
