* {
	padding: 0;
	margin: 0;
	/*border: 1px solid #333;*/
}
body{
  font-family: 'Montserrat', sans-serif;
}
a{
	text-decoration: none;
}
.navbar_move{
	background-color: rgba(0, 0, 0, 0.6);
	transition: 0.5s;
}
#dropbtn, #home {
	color: #FFF;
	font-size: 1.7rem;
	cursor: pointer;
	z-index: 1;
	display: inline-block;
	margin: 20px 25px;
}
#dropbtn{
	float: right;
}
.dropdown {
	position: fixed;
	display: inline-block;
	width: 100%;
	z-index: 1;
}
.dropdown-content {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(74, 186, 234, .9);
	color: #000;
	width: 100%;
	height: 100vh;
}
.dropdown-container{
	display: flex;
	flex-flow: column wrap;
	height: 100%;
}
.dropdown-container a{
	font-size: 1.2em;
	font-weight: 470;
	color: #FFF;
	margin: 3% 8%;
	text-decoration: none;
}
.dropdown-container a:first-child{
	font-size: 1.5em;
	align-self: flex-end;
	margin-right: 5%;
	padding: 2%;
}
.dropdown-social{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
.dropdown-social i{
	display: inline-block;
	font-size: 1.1em;
	margin-bottom: 7px;
}
.jumbotron{
  background: url('imagens/main.jpg') no-repeat center center;
  background-size: cover;
  height: 65vh;
  display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 15%;
}
.first_title{
	color: #FFF;
	margin-left: 7%;
}
.first_title h4{
	font-size: 2.1em;
}
.first_title p{
	font-size: 1.4em;
}
.upper_title, .middle_title{
	margin-left: 7%;
	margin-bottom: 7%;
}
.upper_title h4, .middle_title h4{
	border-left: 5px solid #5D6061;
	padding-left: 4%;
	color: #5D6061;
}
.upper_content, .middle_content{
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	margin-bottom: 7%;
	width: 100%;
}
.upper_content > div, .middle_content > div{
	width: 100%;
	min-width: 250px;
	border-bottom: 1px solid #D3D7D8;
}
.upper_wrapper,
.middle_wrapper{
	margin-right: 5%;
	padding-bottom: 25px;
}
.activity_img{
	/*width: 100%;
	height: 200px;
	background-color: pink;*/
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	border-radius: 2px;
	margin-bottom: 10px;
}
.upper_img_1{
	background: url('imagens/activity_1.jpg') no-repeat;
	background-size: cover;
	height: 200px;
}
.upper_img_2{
	background: url('imagens/activity_2.jpg') no-repeat;
	background-size: cover;
	height: 200px;
}
.activity_img > p{
	font-size: .85em;
	text-align: right;
	width: 65px;
	height: 23px;
	padding: 8px 7px 0 5%;
	margin-bottom: 5%;
	color: #FFF;
	background-color: rgba(0,0,0,.5);
}

.upper_img_text, .middle_img_text{
	width: 100%;
}
.upper_content-text-title{
	font-weight: 500;
	font-size: .8em;
	margin-bottom: 2%;
}
.upper_content-text-subtitle{
	font-size: .8em;
}
.middle_content-text-title{
	font-weight: 500;
	font-size: .8em;
}
.middle_activity_img{
	width: 100%;
	max-width: 350px;
	height: 170px;
	margin-bottom: 10px;
	border-radius: 2px;
}
.middle_img_1{
	background: url('imagens/paranapiacaba.jpg') no-repeat;
	background-size: cover;
}
.middle_img_2{
	background: url('imagens/billings.jpg') no-repeat;
	background-size: cover;
}
